/*========================NAVBAR========================*/

.menu>.basicBtn:last-child{
    border-right: 1px solid white;
}

.menu>.basicBtn:first-child{
    border-right: none;
}

@media screen and (max-width: 570px) {
    .menu > .basicBtn:last-child {
        border-right: none;
    }
}

/* Responsive menu while at a medium size */
@media screen and (max-width: 800px) and (min-width: 570px){    
    .menu > .basicBtn:nth-child(4) {
        border-right: 1px solid white;
    }
    
    .menu > .basicBtn:nth-child(5) {
        border-right: none;
    }
}

/*===================PROCESS STEPS===================*/

.processStepDiv:nth-child(1){
    right: 0%;
}

.processStepDiv:nth-child(2){
    right: 5%;
}

.processStepDiv:nth-child(3){
    right: 10%;
}

.processStepDiv:nth-child(4){
    right: 15%;
}

.processStepDiv:nth-child(5){
    right: 20%;
}

.processStepDiv:hover {
    right: 0%;
}

.processStepHiddenText {
    font-size: 0.7em;
}

.processStepNumber {
    height: 50px;
}

.processStepText {
    right: 110px;
}

@media screen and (max-width:950px){

    .processStepDiv:nth-child(1), .processStepDiv:nth-child(2), .processStepDiv:nth-child(3), .processStepDiv:nth-child(4), .processStepDiv:nth-child(5) {
        right: 25%;
    }

    .processStepDiv:hover {
        right: 0%;
    }
}

/*=====================HEADER=====================*/

h1 {
/*    border-radius: 20px 0px 20px 20px;*/
}

.headerLinks {
/*    right: 0px;*/
}

header {
    position: relative;
    direction: ltr;
}

/*=====================FOOTER=====================*/

.links a img {
    margin-left: 10px;
}

/*==================CONTACT PAGE==================*/

.contactLabel {
    text-align: left;
}

.contactDetail {
    text-align: right;
    direction: ltr;
}

.contactDetail form {
    direction: rtl;
}

@media screen and (max-width: 800px){
    .contactDetail, .contactLabel {
        text-align: center;
    }
}

/*======================FONTS======================*/

@font-face {
    font-family: 'b_nazaninregular';
    src: url('../fonts/bnazanin-webfont.woff2') format('woff2'),
         url('../fonts/bnazanin-webfont.woff') format('woff'),
        url('../fonts/bnazanin-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BDNR';
    src: url('../fonts/ng4asans-medium.eot');
    src: url('../fonts/ng4asans-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ng4asans-medium.woff') format('woff'),
    url('../fonts/ng4asans-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'b_nazaninregular';
    font-family: 'BDNR';
}