:root {
    --mainColor: rgb(32,178,175);
    --buttonTextColor: white;
    --headingColor: lightgray;
    --buttonHoverColor: rgb(26,88,86);
}

@font-face {
    font-family: 'Bree Serif';
    src: url('../fonts/BreeSerif-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Bree Serif', serif;
    box-sizing: border-box;
}

/*====================GENERAL STYLING====================*/

body {
    margin: 0px;
    min-height: 100vh;
    font-size: 14px;
}

p {
    margin-top: 0px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    max-width: 1000px;
    margin: 20px auto;
    color: white;
    font-size: 2em;
    background: var(--mainColor);
    background: linear-gradient(to right, white 10%, var(--mainColor), white 90%);
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    
}

h1 {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: white;
    font-weight: bold;
    font-size: 70px;
    padding: 30px;
    border-radius: 0px 20px 20px 20px;
    background-color: rgba(0,0,0,0.6);
    line-height: normal;
    margin: 0px;
}

h3 {
    margin-bottom: 5px;
    border-right: 4px solid var(--mainColor);
    padding: 5px;
    padding-right: 10px;
    background-color: aliceblue;
}

.centered {
    text-align: center;
    margin: auto;
}

.centeredImage {
    display: block;
    margin: 10px auto;
    text-align: center;
}

.underlined {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through;
}

.verySmall {
    font-size: 0.6em;
}

.small {
    font-size: 0.8em;
}

.medium {
    font-size: 1.3em;
}

.large {
    font-size: 1.6em;
}

.huge {
    font-size: 2.0em;
}

.bold {
    font-weight: bold;
}

ul li {
    list-style: disc;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid;
    padding: 8px;
    text-align: center;
}

.mobile {
    display: none !important;
}

@media screen and (max-width: 570px) {
    .container {
        width: 100%;
        padding: 0px;
    }
    
    ol {
        margin: 20px;
    }
}

/*===========================HEADER===========================*/

header {
    background-image: url(http://www.genlish.com/learn-english/wp-content/uploads/2017/03/feature-landing_tcm32-288767.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    height: 100vh;
    line-height: 100vh;
    border-bottom: 1px solid white;
}

/* ======================HEADER LINKS====================== */
.headerLinks {
    position: absolute;
    font-size: 0.3em;
    top: -34px;
    left: 0px;
    font-weight: normal;
    height: 34px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 20px 20px 0px 0px;
    padding: 5px 10px;
    width: 250px;
}

.headerLinks a {
    color: white;
}

/* ===================LANGUAGE SELECTION=================== */

#languageSelection {
    position: absolute;
    top: 5px;
    right: -1px;
    display: inline-block;
    line-height: normal;
    background-color: var(--mainColor);
}

.languageBtn {
    padding: 5px;
    border: 1px solid white;
    background-color: var(--mainColor);
    margin-left: -5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.languageBtn.selected {
    background-color: rgb(26,88,86);
}

/* ==========================NAVBAR========================== */

#navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 3;
    width: 100%;
    text-align: center;
    background-color: var(--mainColor);
}

.menu {
    display: flex;
}

.menuBtn {
    display: none;
}

.menu > .basicBtn {
    border-bottom: 1px solid white;
    width: 100%;
    border-right: 1px solid white;
    padding-right: 30px;
    padding-left: 30px;
}

.menu > .basicBtn:last-child{
    border-right: none;
}

.menu > .basicBtn.icon {
    width: 50px;
}

.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdownLabel {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basicBtn.dropdown {
    position: relative;
    font-size: 1em;
}

.dropdownArea {
    transition: opacity 0.2s;
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    flex-direction: column;
    display: none;
    z-index: 4;
}

.dropdownArea.open {
    display: flex;
    opacity: 0;
}

.dropdownArea.visible {
    display: flex;
    opacity: 1;
}

.dropdownArea .divider {
    border-top: 3px solid white;
}

.sub.dropdownArea {
    width: 100%;
    top: 0px;
    left: 100%;
}
        
.dropdownArea > .basicBtn {
    border-bottom: 1px solid white;
}

.dropdownArrow {
    position: absolute;
    right: 10px;
    top: calc(50% - 9px);
}

/* ============================Image Slider============================ */

.imageSlider {
    width: 100%;
    position: relative;
    height: calc(100vw * 0.30);
}

.imageContent {
    width: 100%;
    height: calc(100vw * 0.30);
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: opacity 1s;
    opacity: 0;
}

.imageContent.visible {
    opacity: 1;
}

.sliderBtn {
    position: absolute;
    z-index: 1;
    top: calc(50% - 20px);
    font-size: 2em;
    line-height: 40px;
    cursor: pointer;
    color: gray;
    transform: scaleY(1.5);
    transition: 0.5s;
    mix-blend-mode: difference;
    opacity: 0.3;        
}

.sliderBtn:hover {
    opacity: 1;
}

#sliderLeftBtn {
    left: 20px;
    transform: rotate(180deg) scaleY(1.5);
}

#sliderRightBtn {
    right: 20px;
}

#imageSlider1 .title {
    position: absolute;
    top: 10%;
    left: 0px;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 3vw;
    background-color: rgba(255,255,0,0.4);
    z-index: 1;
}

.imageContent img {
    width: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#imageSlider2 img {
    width: auto;
    height: 100%;
}

/* =======================The Process Styling======================= */
        

.processDivInner {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    width: 500px;
    margin: auto;
}

.processStepDiv {
    position: relative;
    display: flex;
    margin: 2px;
    transition: 0.5s;
    width: 500px;
}

.processStepDiv:nth-child(1){
    left: 0%;
}

.processStepDiv:nth-child(2){
    left: 5%;
}

.processStepDiv:nth-child(3){
    left: 10%;
}

.processStepDiv:nth-child(4){
    left: 15%;
}

.processStepDiv:nth-child(5){
    left: 20%;
}

.processStepNumber {
    border-radius: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    height: 50px;
    width: 100px;
    transition: 0.5s;
}

.processStepNumber span {
    padding: 0px 10px;
}

.processStepHiddenText {
    font-size: 0.8em;
    font-weight: normal;
    padding: 0px;
    margin: 0px 5px;
    width: 0px;
    height: 50px;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

.processStepHiddenText span {
    min-width: 400px;
    max-width: 400px;
}

.processStepDiv:hover .processStepHiddenText {
    width: 500px;
}

.processStepDiv:hover .processStepNumber {
    width: 500px;
}

.processStepDiv:hover {
    left: 0%;
}

.processStepText {
    position: absolute;
    left: 100px; 
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    margin-left: 10px;
}

@media screen and (max-width:950px){

    .processStepDiv:nth-child(1), .processStepDiv:nth-child(2), .processStepDiv:nth-child(3), .processStepDiv:nth-child(4), .processStepDiv:nth-child(5) {
        left: 25%;
    }

    .processStepDiv:hover {
        left: 0%;
    }
}

@media screen and (max-width: 570px){
    .processStepDiv:hover {
        width: 100%;
    }

    .processStepHiddenText span {
        min-width: 80vw;
        max-width: 80vw;
    }

    .processDivInner {
        width: 100%;
    }

    .processStepDiv:hover .processStepHiddenText {
        width: 100%;
    }

    .processStepDiv:hover .processStepNumber {
        width: 100%;
    }
}

/* ====================FAQ Styling==================== */

.question {
    font-weight: bold;
}

/* ===================SUMMARY IMAGES=================== */

#planImage {
    height: 500px;
    background-image: url(http://learnwithsarah.ir/wordpress/wp-content/uploads/2018/09/Untitled.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#onlineImage {
    height: 500px;
    background-image: url(https://www.imore.com/sites/imore.com/files/styles/xlarge/public/field/image/2017/11/skype-faq-hero.jpg?itok=RDYaS6Co);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#privateImage {
    height: 500px;
    background-image: url(https://ghostwritingllc.com/blog/wp-content/uploads/2018/05/learn-english-writing-grammar-online.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* =========================PURCHASE ITEMS========================= */

.purchaseGroup {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
}

.purchaseGrid {
    width: 33vw;
    height: 33vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 400px;
}

.purchaseCircle {
    height: 90%;
    width: 90%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--headingColor);

}

.purchaseCircle img {
    display: block;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    border-radius: 50%;
}

.purchaseText {
    color: white;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.9em;
    width: 100%;
    padding: 20px;
    background-color: rgba(0,0,0,0.7);
}

.purchaseHeader {
    margin-top: 70px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.purchaseHeader p {
    font-size: 1.3em;
    font-weight: bold;
}

@media screen and (max-width:950px) {
    .purchaseGrid {
        width: 50vw;
        height: 50vw;
        max-width: 400px;
    }

    .purchaseGroup {
        flex-direction: column;
        align-items: center;
    }
}

/* ===================BUTTON STYLING=================== */

.basicBtn {
    background-color: var(--mainColor);
    padding: 10px 0px;
    margin: 0px;
    cursor: pointer;
    color: var(--buttonTextColor);
    font-weight: bold;
    transition: 0.5s;
}

.basicBtn.selected {
    background-color:  var(--buttonHoverColor);
}

.basicBtn:hover {
    background-color:  var(--buttonHoverColor);
}

/* ===================FOOTER=================== */

#footerDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer {
    background-color: var(--mainColor);
    z-index: 2;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    margin-top: 50px;
    width: 100%;
    align-items: center;
}

footer h5 {
    margin: 0px;
    font-size: 1.2em;
    color: white;
}

footer .links {
    display: flex;
    justify-content: center;
    width: 100%;
}

footer a {
    margin: 0px 30px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

footer a img {
    width: 30px;
    margin-right: 10px;
}

footer .divider {
    display: none;
}

#instagramLogo {
/*    filter: brightness(70%) sepia(50) saturate(100) hue-rotate(300deg);*/
/*    filter: none;*/
}

#telegramLogo {
    filter: saturate(2);
}

/* ===================RESPONSIVE STYLING=================== */

/* Responsive Menu */
@media screen and (max-width: 570px) {
    .mobile {
        display: flex !important;
    }
    
    .desktop {
        display: none !important;
    }
    
    #navbar {
        position: relative;
    }
    
    .menu {
        flex-direction: column;
        position: relative;
        display: none;
        flex-wrap: nowrap;
    }
    
    .menu.open {
        display: flex;
    }
    
    .menuBtn {
        width: 100%;
        display: block;
    }
    
    .dropdownArea {
        position: relative;
        display: none;
        border-top: 1px solid white;
    }
    
    .dropdownArea.open {
        opacity: 1;
        display: flex;
    }
    
    .sub.dropdownArea {
        left: 0px;
    }
    
    .dropdownArea > .basicBtn {
        background-color: rgb(0,158,155);
    }
    
    .sub.dropdownArea > .basicBtn {
        background-color: rgb(0,138,135);
    }
    
    .basicBtn:hover {
        background-color: var(--buttonHoverColor) !important;
    }
    
    .dropdownArea .dropdownArrow {
        transform: rotate(90deg);
    }
    
    .menu > .basicBtn {
        border-bottom: 1px solid white;
        width: 100%;
        border-right: none;
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .menu > .basicBtn:nth-child(2) {
        border-top: 1px solid white;
    }
    
    .dropdownArrow {
        top: 12px;
    }
    
    .dropdownLabel {
        margin-bottom: 10px;
    }
    
    .basicBtn.dropdown {
        padding-bottom: 0px;
    }
    
    /*  Responsive Footer  */
    footer a {
        margin: 0px 10px;
    }
    
     footer .divider {
        display: block;
        border-right: 1px solid white;
    }
    
    h2 {
        background: var(--mainColor);
    }
}

/* Responsive menu while at a medium size */
@media screen and (max-width: 800px) and (min-width: 570px){    
    .menu {
        flex-wrap: wrap;
    }
    
    .menu > .basicBtn {
        width: 25%;
        flex-grow: 1;
    }
    
    .menu > .basicBtn:nth-child(5) {
        border-right: none;
    }
    
    h2 {
        background: linear-gradient(to right, white 2%, var(--mainColor), white 98%);
    }
}

/* Responsive sections on page */
@media screen and (max-width: 800px){
    .purchaseGroup {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 950px){
    h1 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: calc(100% - 40px);
        color: white;
        font-weight: bold;
        padding: 30px;
        font-size: 7vw;
        background-color: rgba(0,0,0,0.6);
    }
    
    
    
    .headerLinks {
        font-size: 16px;
        width: auto;
    }

    .purchaseHeader h4 {
        width: 90%;
        margin: auto;
    }

    .purchaseHeader p {
        width: 80%;
        margin: auto;
    }
}


/*=========================CONTACT PAGE=========================*/

        
#contactMethods {
    margin: auto;
    width: 700px;
    text-align: center;
    border-radius: 10px;
}

.contactGroup {
    display: flex;
    justify-content: center;
    margin: 10px;
    min-height: 30px;
}

.contactGroupDivider {
    border-top: 1px solid var(--mainColor);
    width: 50%;
    margin: auto;
}

.contactDivider {
    border-right: 1px solid var(--mainColor);
    margin: 5px;
}

.contactLabel, .contactDetail {
    flex-shrink: 0;
    width: 50%;
    padding: 20px;
}

.contactLabel {
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
}

.contactDetail {
    text-align: left;
}

#contactMethods textarea {
    width: 100%;
    display: block;
    border: 1px solid var(--mainColor);
    padding: 10px;
    font-size: 1em;
}

#contactMethods input {
    margin: 5px 0px;
    border: 1px solid var(--mainColor);
    padding: 10px;
    width: 100%;
    font-size: 1em;
}

#contactMethods input:first-of-type {
    border-radius: 5px 5px 0px 0px;
}

#contactMethods input:last-of-type {
    border-radius: 0px 0px 5px 5px;
    font-weight: bold;
}

#contactMethods input[type="submit"] {
    background-color: var(--mainColor);
    color: var(--buttonTextColor);
    transition: background-color 0.5s;
    cursor: pointer;
}

#contactMethods input[type="submit"]:hover {
    background-color: var(--mainColor);
    color: var(--buttonTextColor);
    background-color: var(--buttonHoverColor);
}

@media screen and (max-width: 800px){
    .contactGroup {
        flex-direction: column;
    }

    .contactDetail, .contactLabel {
        text-align: center;
        margin: auto;
        padding: 5px;
        width: 100%;
    }

    #contactMethods {
        width: 100%;
        max-width: 500px;
    }
}