body {
    display: flex;
    flex-direction: column;
}

header {
    background-position: top;
    background-attachment: local;
    text-align: center;
    height: 200px;
    border-bottom: 1px solid white;
    position: relative;
}

h1 {
    position: relative;
    top: 50px;
    left: 0px;
    font-size: 70px;
    padding: 10px;
    width: 1000px;
    margin: 0px auto;
}

@media screen and (max-width: 950px){
    h1 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: calc(100% - 40px);
        color: white;
        font-weight: bold;
        padding: 30px;
        font-size: 7vw;
        background-color: rgba(0,0,0,0.6);
    }
}