.information {
    flex-direction: row-reverse;
}

.divider2 + .information {
    flex-direction: row;
}

.menu>.basicBtn:last-child{
    border-right: 1px solid white;
}

.menu>.basicBtn:first-child{
    border-right: none;
}



@font-face {
    font-family: 'b_nazaninregular';
    src: url('bnazanin-webfont.woff2') format('woff2'),
         url('bnazanin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'b_nazaninregular';
}


/* Responsive sections on page */
@media screen and (max-width: 800px){

    .information {
        flex-direction: column;
    }

    .divider2 + .information {
        flex-direction: column;
    }
}